*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #1D1E18;
  --grey: #E6E8E6;
  --blue: #256EFF;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.light-mode {
  background-color: var(--grey);
  color: var(--black);
}

.dark-mode {
  background-color: var(--black);
  color: var(--grey);
}

.blue-mode{
  background-color: var(--blue);
  color: var(--black);
  border-top: 0.3vw solid var(--grey);
  border-bottom: 0.4vw solid;
}

body {
  font-family: 'Raleway', sans-serif;
}

.bold{
  font-weight: 600;
}

.lessOpacity{
  opacity: 0.6;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2vw 8vw;
  font-size: 1.4vw;
}

.sub-section{
  display: grid;
  grid-template-columns:2fr 1fr;
  gap: 3.2vw;
  padding: 3.2vw 8vw;
}

.link:hover{
  opacity: 0.6;
}

.italic:hover{
  opacity: 1;
}

.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

.up-icon{
  width: 5.6vw; 
  height: auto; 
  opacity: 0.6;
}

.up-icon:hover{
  opacity: 1;
  cursor: pointer;
}

.sub-section.contact{
  display: flex;
  gap: 7vw;
  padding: 3.2vw 8vw 3.2vw 8vw;
}

.sub-section.aboutMe{
  display: grid;
  grid-template-columns:90% 10%;
  padding-bottom:8vw;
}

.nav-item{
  margin: 0;
}

h2.headline{
  margin: 0;
}
.nav-item:hover{
  opacity: 1;
  cursor: pointer
}

.nav-right{
  display: flex;
  gap: 3.5vw;
  align-items: center;
}

.download{
  border: 0.2vw solid;
  border-radius: 3.2vw; 
  padding: 1vw 1.5vw; 
}

.headline{
  font-size: 3.6vw;
  font-weight: 600;
}

.contact{
  margin: 0;
  padding: 0.3vw;
  font-size: 1.2vw;
}

.contact.lessOpacity{
  font-size: 1vw;
  font-weight: 500;
}

.aboutMe{
  font-size: 3.2vw;
}

.italic{
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.6vw;
  text-decoration-thickness: 0.2vw;
}

.italic-light{
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.4vw;
  text-decoration-thickness: 0.1vw;
}

/* carousel */
.marquee {
  --gap: 0.8vw;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  padding-top: 2vw;
  padding-bottom: 2vw;
}

ul{
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.marquee-item{
  font-size: 4vw;
  font-weight: 800;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__content img{
  width: 4vw; 
  height: auto; 
  opacity: 0.6;
}
/* carousel */

.project-section{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 6vw;
  padding: 10vw 8vw;
}

.project-img{
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 1vw;
  border: solid 1.5vw #D1D1D1; 
}

h2{
  font-size: 1.8vw;
}

.material-symbols-outlined {
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  color: var(--blue);
  transform: scale(2);
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
}

.material-symbols-outlined:hover {
  transform: scale(2) rotate(360deg);
  cursor: pointer;
}

.rotate{
  transform: rotate(-30deg);
}

.filled{
  transform: scale(2); 
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40;
  color: var(--black);
  background-color: var(--grey);
  border-radius: 100%;
}

.project{
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.project-top {
  position: relative;
}

.project-title-container{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1vw;
  margin: 0;
  padding: 0;
}

.project-title{
  margin: 0;
  padding: 0;
}

.project-bottom-left{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin: 0;
  padding: 0;
}

.project-bottom-right{
  width: 40%;
}

.project-blurb{
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
}

.tech-details{
  margin: 0;
  padding: 0;
  opacity: 0.6;
  font-size: 1.2vw;
}

.project-bottom{
  display: flex;
  justify-content: space-between;
}

.icon-container {
  position: absolute;
  top: -1vw;
  right: -1vw;
}

.footer-copy{
  font-size: 1.4vw;
  opacity: 0.6;
  padding: 0;
  margin: 0;
}

.copyright{
  padding-bottom: 4vw !important;
}

.footer-links{
  display: flex;
  gap: 5vw;
  font-size: 1.2vw;
  padding: 4vw 0;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.6vw;
  text-decoration-thickness: 0.15vw;
}

.footer-links p{
  margin: 0;
  padding: 0;
}

.footer-contact{
  padding: 0 8vw;
}

.footer-bottom-line-right{
  display: flex;
  justify-content: end;
  opacity: 0.6;
  font-size: 1vw;
}

.footer-bottom-line-right p{
  margin: 0;
  padding: 0;
  padding-bottom: 2vw;
}

.footer-link:hover{
  opacity: 0.6;
  cursor: pointer;
}

/* modal styles */
.project-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.close-modal {
  display: none;
}

.project-details-container{
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 2.5vw;
}

.project-details-title-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-detail-copy{
  opacity: 0.6;
  font-size: 2.8vw; 
  padding: 0;
  margin: 0;
}

.project-detail-copy-container{
}

.close-icon{
  width: 3.6vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.close-icon:hover{
  opacity: 0.6;
  cursor: pointer;
}

.project-detail-links{
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.project-detail-link{
  font-size: 1.6vw;
  text-decoration: underline;
  text-underline-offset: 0.6vw;
  text-decoration-thickness: 0.15vw;
}

.project-detail-link:hover{
  opacity: 0.6;
  cursor: pointer;
}
.logo{
  width: 2.8vw;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 0.6vw;
}

@media screen and (max-width: 1500px){
  .material-symbols-outlined {
    transform: scale(1.8);
  }
  
  .material-symbols-outlined:hover {
    transform: scale(1.8) rotate(360deg);
  }
  
  .filled{
    transform: scale(1.8); 
}
}

@media screen and (max-width: 1200px){
  .material-symbols-outlined {
    transform: scale(1.6);
  }
  
  .material-symbols-outlined:hover {
    transform: scale(1.6) rotate(360deg);
  }
  
  .filled{
    transform: scale(1.6); 
}
}

@media screen and (max-width: 1000px){
  nav{
    font-size: 14px;
  }
  .headline{
    font-size: 36px;
  }
  .contact{
    font-size: 12px;
  }
  .contact.lessOpacity{
    font-size: 10px;
  }
  .aboutMe{
    font-size: 32px;
  }
  .marquee-item{
    font-size: 4.6vw;
  }
  img{
    width: 40px; 
    height: auto; 
  }
  .up-icon{
    width: 56px; 
    height: auto; 
  }
  h2{
    font-size: 18px;
  }
  .tech-details{
    font-size: 12px;
  }
  .project-blurb{
    font-size: 12px;
  }
  .footer-copy{
    font-size: 14px;
  }
  .footer-links{
    font-size: 12px;
    text-underline-offset: 6px;
    text-decoration-thickness: 1.5px;
  }
  .project-detail-link{
    font-size: 16px;
    text-underline-offset: 6px;
    text-decoration-thickness: 1.5px;
  }
  .footer-bottom-line-right{
    font-size: 10px;
  }
  .italic{
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
  }
  
  .italic-light{
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  .close-icon{
    width: 38px;
  }
  .project-detail-copy{
    opacity: 0.6;
    font-size: 28px; 
  }
  .blue-mode{
    border-top: 3px solid var(--grey);
    border-bottom: 4px solid;
  }
  .logo{
    width: 28px;
  }
  .nav-left{
    gap: 6px;
  }
  
}

@media screen and (max-width: 800px){

.project-section{
  display: grid;
  grid-template-columns:1fr;
  gap: 6vw;
  padding: 10vw 8vw;
}

.project-title-container{
  gap: 2.3vw;
}

.project-img{
  border-radius: 1.5vw;
  border: solid 3vw #D1D1D1; 
}
}

@media screen and (max-width: 650px){

  .material-symbols-outlined {
    transform: scale(1.4);
  }
  
  .material-symbols-outlined:hover {
    transform: scale(1.4) rotate(360deg);
  }
  
  .filled{
    transform: scale(1.4); 
}

.blue-mode{
  border-top: 2px solid var(--grey);
  border-bottom: 3px solid;
}

.logo{
  width: 26px;
}
.nav-left{
  gap: 6px;
}

  .up-icon{
    width: 36px; 
    height: auto; 
  }
  
  }

  @media screen and (max-width: 550px){
    .sub-section{
      grid-template-columns:1fr;
    }
    .sub-section.aboutMe{
      grid-template-columns:100%;
      font-size: 26px ;
    }

    .disapear{
      display: none;
    }

    .material-symbols-outlined {
      transform: scale(1.2);
    }
    
    .material-symbols-outlined:hover {
      transform: scale(1.2) rotate(360deg);
    }
    
    .filled{
      transform: scale(1.2); 
  }
  .footer-bottom-line-right{
    justify-content: start;
  }


.project-details-container{
  width: 80%;
}

.project-detail-copy{
  font-size: 20px; 
} 

.project-detail-copy-container{
}

.close-icon{
  width: 30px;
}

.project-detail-link{
  font-size: 15px;
  text-underline-offset:6px;
  text-decoration-thickness: 1.5px;
}

.project-detail-link:hover{
  opacity: 0.6;
  cursor: pointer;
}

.logo{
  width:23px;
}
.nav-left{
  gap: 6px;
}
.footer-links{
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.copyright{
  padding-bottom: 8vw !important;
  font-size: 12px;
}

}

@media screen and (max-width: 400px){
  .up-icon{
    display: none;
  }
}