*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --off-white: #eaedd5;
  --black: #000000;
  --avo: #697a21;
  --green: #0fff95;

}

body {
  background-color: var(--black);
  color: var(--off-white);
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--off-white);
}

h1 {
  font-size: 2.4rem;
}

h2{
  font-size: 1.8rem;
}

.copy{
  font-size: 1.6rem;
  font-weight: 300;
}

.navigation{
  background-color: transparent;
  height: 100vh;
}

p.nav-item{
  margin: 0px;
}

.project-copy h2{
  margin-top: 0px;
}

.top-bar {
  padding: 15px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: fixed;
  font-size: 1.6rem;
}

.bottom-bar-home {
  padding: 15px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  position: fixed;
  font-size: 1.6rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 240px;
  height: 100vh;
}

.intro-copy{
  min-width: 300px;
}

.project-1 {
  background-color: var(--avo);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-2{
  background-color: var(--black);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-3 {
  background-color: var(--avo);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-overview{
  display: grid;
  grid-template-columns:1fr 2fr;
  gap: 30px;
  margin: 0 200px;
  align-items: start;
  justify-content: center;
  align-content: center;
  min-height: 300px;
}

.project-links{
text-align: right;
margin-top: 30px;
}

.project-links a{
  color: #0fff95;
  padding-left: 30px;
  font-size: 1.2rem;
}


.project-copy{
  min-width: 400px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 300px;
}

